html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
    body::before {
        background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('../images/holzfigur-g28d9eeb54_1920.jpg');
        background-size: cover;
        content: ' ';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
    }
footer {
    margin-top: auto;
}
/*---Index View---*/
.content{
    margin-top: 18%;
    font-size: 18px;
    color: #ffffff;
}
.content h1{
    font-weight: 500;
    font-size: 70px;
    max-width: 550px;
    line-height: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.content p{
     max-width: 550px;
     
}
.aboutbtn {
    width: 100px;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    overflow: auto;
}
/*---Add Course View---*/
.form-label {
    color: #ffffff;
    font-size: 20px;
}
.form-check-label {
    color: #ffffff;
    font-size: 20px;
}
.form-check-input {
    color: #ffffff;
    font-size: 20px;
}
.text-center {
    font-size: 50px;
    margin-top: 20px;
    color: #ffffff;
}
.text-danger {
    font-size: 20px;
    background-color: aliceblue;
    
}
.d-grid {
    padding: 10px;
}
/*---All Courses---*/
.card {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding: 5px 5px 5px 5px;
    margin-bottom: 1rem;
}
.addbtn {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    border: 2px solid antiquewhite;
    background: transparent;
    color: black;
    cursor: pointer;
    overflow: auto;
}
.card-title{
    text-align: center;
    margin: 15px 15px 15px 15px;
    font-size: larger;
}
/*---Navbar---*/
.navbar-collapse {
    width: 100%;
    overflow: hidden;     
}
.nav-item {
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.navbar-nav {
    display: inline-block;
    text-align: center;
}
.nav-item a {
    padding: 14px 16px;    
    text-decoration: none;
    color: #fff;    
}
.nav-item a:hover {
      border-radius: 20px;
      background-color:#fff;
      color: black;
}
/*---Register---*/
#registerForm {
    display: grid;
    row-gap: 5px;
    font-size: 100%;
    text-align: center;
    margin: auto
}
#registerTitle {
    text-align: center;    
    margin: 20px;
    margin-bottom: 40px;
    color: #ffffff;
}
#registerId {
    width: 600px;
    height: 600px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-top: 100px;
    overflow: auto;
}
#registerId .registerInput {
    width: 350px;
    background: transparent;
    border: 1px solid #fff;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
#registerSubmit {
    width: 360px;
    height: 50px;
    border-radius: 20px;
    margin: auto;   
    font-weight: 600;
}
/*---Login---*/
#loginForm {
    display: grid;
    row-gap: 5px;
    font-size: 100%;
    text-align: center;
    margin: auto;
}
#loginTitle {
    text-align: center;
    margin: 20px;
    color: #ffffff;
}
#cardId {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-top: 100px;
}
#cardId .input {
    width: 350px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 20px;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;   
    text-align: center;
    color: #fff;
}
#login-submit{
    width: 73%;
    height: 50px;
    border-radius: 20px;
    margin: 20px;
    font-weight: 600;
}
#checkBox{
    font-size: 20px;
    margin-right: 190px;
}
.text-danger {
    background: transparent;
}
/*---Shop---*/

#shopWrapper {
    background-color: antiquewhite;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    min-height: 700px;
    height: auto;
    margin-top: 50px;
    box-sizing: border-box;
    outline: none;
    border-radius: 20px;
    display: block;
    overflow: auto;
}
#productsNavBar {
    justify-content: center;
    width: max-content;
    margin: 15px;
    
}
#productNavProperty {
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background: #ffffff;   
}
.header{
     text-align: center;
     margin-bottom: 80px;
     margin-top: 20px;
}
#categoryBtn {
    width: 150px;
    height: 43px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background: #ffffff;
    color: black;
    cursor: pointer;
    font-weight: 400;
}
#categoryBtn:hover{
    transition: 0.1s ease-in;
    background-color: #fff6f6;
}
.products{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
}
.product {
    position: initial;
    width: 100%;
    max-width: 25%;   
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.26);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    border-radius: 20px;
    overflow: auto;
}
.product img {
    display: grid;
    place-items: center;
    width: 100%;    
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}


