html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
    body::before {
        background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('../images/holzfigur-g28d9eeb54_1920.jpg');
        background-size: cover;
        content: ' ';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
    }
footer {
    margin-top: auto;
}
/*---Index_View---*/
.content{
    margin-top: 18%;
    font-size: 18px;
    color: #ffffff;
}
.content h1{
    font-weight: 500;
    font-size: 70px;
    max-width: 550px;
    line-height: 90px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.content p{
     max-width: 550px;
     
}
.aboutbtn {
    width: 100px;
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    overflow: auto;
}
/*---Courses_Add---*/
.form-label {
    color: #ffffff;
    font-size: 20px;
}
.form-check-label {
    color: #ffffff;
    font-size: 20px;
}
.form-check-input {
    color: #ffffff;
    font-size: 20px;
}
.text-center {
    font-size: 50px;
    margin-top: 20px;
    color: #ffffff;
}
.text-danger {
    font-size: 20px;
    background-color: aliceblue;
    
}
.d-grid {
    padding: 10px;
}
/*---Courses_All---*/
.card {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding: 5px 5px 5px 5px;
    margin-bottom: 1rem;
}
.addbtn {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin: auto;
    border-radius: 25px;
    border: 2px solid antiquewhite;
    background: transparent;
    color: black;
    cursor: pointer;
    overflow: auto;
}
.card-title{
    text-align: center;
    margin: 15px 15px 15px 15px;
    font-size: larger;
}
/*---Navbar---*/
.navbar-collapse {
    width: 100%;
    overflow: hidden;     
}
.nav-item {
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.navbar-nav {
    display: inline-block;
    text-align: center;
}
.nav-item a {
    padding: 14px 16px;    
    text-decoration: none;
    color: #fff;    
}
.nav-item a:hover {
      border-radius: 20px;
      background-color:#fff;
      color: black;
}
/*---Register---*/
#registerForm {
    display: grid;
    row-gap: 5px;
    font-size: 100%;
    text-align: center;
    margin: auto
}
#registerTitle {
    text-align: center;    
    margin: 20px;
    margin-bottom: 40px;
    color: #ffffff;
}
#registerId {
    width: 600px;
    height: 600px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-top: 100px;
    overflow: auto;
}
#registerId .registerInput {
    width: 350px;
    background: transparent;
    border: 1px solid #fff;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
#registerSubmit {
    width: 360px;
    height: 50px;
    border-radius: 20px;
    margin: auto;   
    font-weight: 600;
}

/*---Login---*/
#loginForm {
    display: grid;
    row-gap: 5px;
    font-size: 100%;
    text-align: center;
    margin: auto;
}
#loginTitle {
    text-align: center;
    margin: 20px;
    color: #ffffff;
}
#cardId {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-top: 100px;
}
#cardId .input {
    width: 350px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 20px;
    height: 50px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;   
    text-align: center;
    color: #fff;
}
#login-submit{
    width: 73%;
    height: 50px;
    border-radius: 20px;
    margin: 20px;
    font-weight: 600;
}
#checkBox{
    font-size: 20px;
    margin-right: 190px;
}
.text-danger {
    background: transparent;
}

/*---Shop---*/
#shopWrapper {
    background-color: antiquewhite;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    min-height: 700px;
    height: auto;
    margin-top: 50px;
    box-sizing: border-box;
    outline: none;
    border-radius: 20px;
    display: block;
    overflow: auto;
}
#productsNavBar {
    justify-content: center;
    width: max-content;
    margin: 15px;
    
}
#productNavProperty {
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background: #ffffff;   
}
.header{
     text-align: center;
     margin-bottom: 80px;
     margin-top: 20px;
}
#categoryBtn {
    width: 150px;
    height: 43px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background: #ffffff;
    color: black;
    cursor: pointer;
    font-weight: 400;
}
#categoryBtn:hover{
    transition: 0.1s ease-in;
    background-color: #fff6f6;
}
.products{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
}
.product {
    position: initial;
    width: 100%;
    max-width: 25%;   
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.26);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    border-radius: 20px;
    overflow: auto;
}
.product img {
    display: grid;
    place-items: center;
    width: 100%;    
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/*---Product_Details---*/
img {
    width: 100%;
    display: block;
}

.main-wrapper {
    margin-top: 80px;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: auto;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.product-div {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
    border-radius: 20px;
    overflow: auto;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.26);
}

.product-div-left {
    padding: 20px;
}

.product-div-right {
    padding: 20px;
}

.img-container img {
    width: 200px;
    margin: 0 auto;
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: bolder;
}

.product-rating span {
    margin-right: 6px;
}

.product-description {    
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

/*---Cart---*/
#cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse
}
th {
    padding: 10px;
    color: black;
    background: antiquewhite;
    
}
td{
    padding: 10px 5px;
    color: #ffffff;
    font-size: large;
}
.total-price{
    display: flex;
    padding: 10px;
}
.total-price p {
    color: #ffffff;
    font-size: large;
}
/*---Gallery_Index---*/

#photoId {
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.30);   
    margin: auto;
    margin-top: 20px;
    border: solid 2px antiquewhite;
}
.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.30);
    border: solid 2px antiquewhite;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}
