@model ShoppingCartViewModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
	decimal totalPrice = 0;
}
@if (Model != null && Model.CartItems.Count() > 0)
{
	<div class="small-container" id="cart-page">
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>		
				@foreach (var item in Model.CartItems)
				{		
					decimal price = item.Product.Price * item.Quantity;				
					<tr>
						<td>@item.Product.Name</td>		  
						<td>
							@item.Quantity
							<a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" class="btn" style="color: #fff">-</a>
						</td>		  
						<td>$@price</td>		  
						<td>
						</td>
					</tr>
				}		
		</table>
	</div>
	<hr style="border-top: 2px solid antiquewhite;">
	<div class="total-price">
		<p>Total Price: <strong>$@Model.TotalPrice</strong></p>	
	</div>	
	
	<a asp-controller="Cart" asp-action="Summary" class="btn btn-outline-primary">Summary</a>
	<a asp-controller="Shop" asp-action="All" class="btn btn-outline-primary">Continue shopping!</a>

}
else 
{
	<div class="total-price">
		<p>Your cart is empty! Continue shopping:</p>	
	</div>
	<a asp-controller="Shop" asp-action="All" class="btn btn-primary">Go to products</a>
}


