@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


	<div class="content">
		<h4>Welcome to the</h4>
		<h1><span>Wood Carving Camp!</span></h1>
		<p>Hello there! You can explore our projects in the gallery and leave comment on them,
			watch our courses and buy the right tools for your project</p>
	</div>

