@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-center" style="color: #ffffff">@ViewData["Title"]</h1>

<<h2 class="text-center">We are here to gather people who love wood working together, to share our knowledge with them, and to have maximim fun while we do the thing we love - wood carving</h2>
