@model GalleryPhotoFormModel

@{
    ViewBag.Title = "Add Photo to gallery";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h2 class="text-center">@ViewBag.Title</h2>

<div class="row">
	<form asp-action="Add" method="post">
	
		<div class="mb-3">
			<label asp-for="ImageUrl" class="form-label">Image Path</label>
			<input asp-for="ImageUrl" class="form-control" aria-required="true">
			<span asp-validation-for="ImageUrl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description" class="form-label">Photo Information</label>
			<textarea asp-for="Description" class="form-control" rows="3" aria-required="true"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		

		<button type="submit" class="btn btn-primary" value="Add">Add Photo</button>

	</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}