@model IEnumerable<GalleryPhotoViewModel>
<h1 class="text-center" style="color: #ffffff">Carving Projects Gallery</h1>

@if (User.IsAdmin())
{
	<div>
		<div class="d-grid gap-2 col-6 mx-auto">
			<a asp-controller="Gallery" asp-action="Add" class="btn btn-primary">Add Photo</a>
		</div>
	</div>
}
@foreach (var photo in Model)
{
	<div class="card" style="width: 25rem;">
		<p>
			<a asp-controller="Gallery" asp-action="Details" asp-route-id="@photo.Id">
				<img src="@photo.ImageUrl" class="card-img-top" title="Details">
			</a>
		</p>

		<div class="card-body">

		</div>
	</div>

}