@model IEnumerable<GalleryPhotoViewModel>

<h1 class="text-center" style="color: #ffffff">Carving Projects Gallery</h1>

<div class="col">
	<div class="gallery-image">
		@foreach (var photo in Model)
		{
			<div class="imageBackground"></div>
			<a asp-controller="Gallery" asp-action="Details" asp-route-id="@photo.Id">
				<div class="img-box">
					<img src="@photo.ImageUrl" title="Details">
					<div class="transparent-box">
						<div class="caption">
							<p>@photo.Title</p>
							<p class="opacity-low">Click to leave a comment!</p>							
						</div>
					</div>
				</div>
			</a>
		}
	</div>
</div>
