@model RegisterFormModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="card" id="registerId">
        <section>       
        <form id="registerForm" method="post">
            <h2 id="registerTitle">Create a new account.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="FirstName" class="registerInput" placeholder="First Name" autocomplete="username" aria-required="true" />
                @*<label asp-for="FirstName"></label>*@
                <br />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="LastName" class="registerInput" placeholder="Last Name" autocomplete="username" aria-required="true" />
               @* <label asp-for="LastName"></label>*@
               <br />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Email" class="registerInput" placeholder="Email" autocomplete="username" aria-required="true" />
                @*<label asp-for="Email"></label>*@
                <br />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="registerInput" placeholder="Password" autocomplete="new-password" aria-required="true" />
                @*<label asp-for="Password"></label>*@
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="ConfirmPassword" class="registerInput" placeholder="Confiorm Password" autocomplete="new-password" aria-required="true" />
                @*<label asp-for="ConfirmPassword"></label>*@
                <br />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit">Register</button>
        </form>
        </section>
    </div>   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
