<a asp-area="" asp-controller="Course" asp-action="Add" class="btn btn-primary">Add Course</a>
<a asp-area="" asp-controller="Gallery" asp-action="Add" class="btn btn-primary">Add Photo</a>
<a asp-area="" asp-controller="Shop" asp-action="Add" class="btn btn-primary">Add Product</a>