@using WoodCarvingCamp.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="navbar-brand" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area=""asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="navbar-brand" asp-area=""asp-controller="User" asp-action="Login">Login</a>
    </li>
}
</ul>
